<div fxLayout="column" fxLayoutGap="25px">

  <form [formGroup]="form">
    <input formControlName="pickerType" value="fixed" type="radio">Fixed
    <input formControlName="pickerType" value="floating" type="radio">Floating
  </form>

  <app-date-range-picker *ngIf="isFixedRangePicker" [initialValue]="convertToDateRange(currentValue)"
    (valueChanges)="updateCurrentValueAndEmitChange($event)">
  </app-date-range-picker>

  <app-floating-range-picker *ngIf="!isFixedRangePicker" [initialValue]="currentValue"
    (valueChanges)="updateCurrentValueAndEmitChange($event)">
  </app-floating-range-picker>

</div>
